@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
body{
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 10px;
    line-height: 1.43;
    background-color: #fff;
    direction: rtl;
}
#warp-header-page
{  position: fixed;
    display: flex;
    max-width: 100vw;
    height: 10%;
    box-sizing: border-box;
    z-index: 1100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #28282a;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    border-radius: 2px 2px 14px 14px;
}
.warp-login-cart{
    position: absolute;
    display: flex;
    width: 150px;
    height: 38px;
    top: calc(50% - 19px);
    left: 0%;
}
.menu-side{
    position: absolute;
    right: 2%;
    top: calc(50% - 15px);
    border: none;
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent;
}
.header-Logo{
    display:inline-block;
}
.header-Logo img{
    width:160px;
    height:40px;
  
} 

    /* c90a16 */
