
.overlay{
}
.warp-video{
    position: absolute;
    width: 100%;
    height: 103vh;
    top: -21px;
    left: 0;
    overflow: hidden;
}
.warp-video::after{
    content:"";
    position: absolute;
    width: 100vw;
    height: 103vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.vedio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.co-warp{
    
    position: fixed;
    width:200px;
    left: calc(50% - 100px);
    bottom: 30px;
    z-index: 99999;
    animation-name: links;
    animation-duration: 5s;
}
@keyframes links {
    from {bottom: -50px;}
    to {bottom: 30px;}
  }
.co-link{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #fdfcf8;
    line-height: 40px !important;
    color: black;
    transition: all 0.26s ease-out;
}
.title_name{
    position: absolute;
    width: 150px;
    top: 15%;
    font-size:150px;
    right: calc(50% - 75px);
    transition: all 0.26s ease-out;
    animation-name: title;
    animation-duration: 2s;
}   
@keyframes title {
    from {top: -50px;}
    to {top: 15%;}
  }
 
  

 