body{
    direction: rtl;
}
.warp-section-navbar{
    position: fixed;
    display: inline-block;
    top: 10vh;
    right: 0;
    width: 70vw;
    height: 100vh;
    background-color: #28282a;
    z-index: 999999;
}


.warp-section-navbar::before{
    content: "";
    position: absolute;
    top:0;
    left: -49vw;
    width: 50vw;
    height: 100vh;
    background-color: hsla(0,0%,7%,.36);
    opacity: 1;
    backdrop-filter: blur(4px);
    z-index: 99999999;
}
.warp-nav-bar{
    display: flex;
    position: absolute;
    top: 5%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.warp-nav-bar li{
    position:relative;
    display: inline-block;
    color:rgb(190, 9, 9);
    width: 80%;
    font-weight: 600;
    line-height: 1.6;
    font-size: 16px;
    list-style-type: none;
    padding: 15px 3px;
    text-align:center;
}
.warp-nav-bar li::after{
    content: '';
    position:absolute;
    display: block;
    left: 0%;
    height: 1px;
    width: 0%;
    background-color: rgb(190, 9, 9);
    transition: all ease-in-out 1ms;
}
.warp-nav-bar li:hover::after{
    width:100%;
}
.warp-link{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    animation-name: buttons;
    animation-duration: 5s;
}
.Link{
  width:auto;
  background-color:transparent !important;
  border: 2px solid white;
  margin:5px;
  padding:3px 7px;
  font-size:20px;
  font-weight: 500px;
  color: white;
  text-decoration: none;

}
@keyframes buttons {
  from {opacity: 0;}
  to {opacity: 1;}
}
.warp-links-navagation{
    position:absolute;
    top: 10px;
    left: 40%;
}