
.warp-pages{
    display: flex;
    position: absolute;
    top: 15vh;
    height: 20vh;
    max-width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card{
    position:absolute;
    box-shadow: 5px 5px 15px -1px #000000;
    margin-top: 20px;
    font-size: 5px;
}
.card-title {
    font-size: 0.9rem;
    margin:unset    
}
.card-text{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.6rem;
}
.card-img-top{
    width: 100%;
    height: 69%;
    padding: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-body{
    position: absolute;
    flex: 1 1 auto;
    top: 66%;
    padding: unset;
    right: 5%;
}
.btn{
    width: 18px;
    font-size: 0.7rem;
    padding: unset;
    margin-top: -8px;
    font-family:unset;
    line-height:unset;
}
.amount{
    margin-top: -8px;
    font-size: 0.5rem;
}   
.price{
    position: absolute;
    bottom: 2px;
    left: 4px;
    font-weight: 400;
    color: #212529;
    font-size: 0.9rem;
}
@media only screen and (min-width:425px){
    
    .card{
        height: 356px;
    }
    .card-title {
        font-size: 2rem;
    }
    .card-text{
        font-size: 1.2rem;
    }
    .btn{
        width: 34px;
        height: 28px;
        font-size: 1rem;
    }
}
@media only screen and (min-width:1024px){
    
    .card{
        height: 450px;
        width:18vw;
    }
    .card-title {
        font-size: 1.6rem;
    }
    .card-text{
        font-size: 1rem;
    }
    .btn{
        width: 2.8rem;
        height:  2.6rem;
        margin:0;
    }
    .price{
        font-size:1.5rem;
    }
    /* @media only screen and (min-height:1024px){
    
        .card{
            height: 450px;
            width:18vw;
        }
    } */

}
