.warp-links{
    display: flex;
    position: absolute;
    left: 1%;
    top : 3%;
    margin: 3px;
}
.links{
    margin-left:15px;
    font-size: 0.9rem;
    margin: 0;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    color: #28282a;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #fff;
    border: none;
    background: none;
    opacity: 0.5;
    padding:5px;
}
.links:hover{
    opacity: 1;
}
.sign-up{
    border-right: 2px solid #ff3366 ;
    color:#ff3366;
}
.authenticated{
    width: 10vh;
    margin-left: 1.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.logout{
    background-color:white;
    border-radius:50%;
    z-index:0;
    margin-left:-5px;
    padding:0 4px;
}